*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 320px;
    max-width: 80%;
    margin: 0 auto;
}


.toolbar{
    display: flex;
    display: row;
    justify-content: space-between;
    min-width: fit-content;
    border: solid 1px rgba(122, 153, 247, 0.788);
    padding: 5px;
    border-radius:5px;
    margin: 10px 0;
    font-size: 1.7rem;
}

.toolbar-format{
    display: flex;
    justify-content: flex-start;
    min-width: 20%;
    margin-left: 10px;
}

.toolbar-options{
    display: flex;
    justify-content: flex-end;
    min-width: 15%;
    margin-right: 10px;
}

.format-button,
.options-button {
    display: block;
    padding: 5px;
    margin: 0 2px;
    border-radius:3px;
    transition: .2s;
}

.format-button{
    background-color: rgba(122, 153, 247, 0.788);
    border: solid 1px rgba(16, 42, 117, 0.788);
}

.format-button:hover,
.format-button-active{
    background-color: rgb(0, 64, 255);
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}

.options-button{
    background-color: rgba(247, 228, 122, 0.788);
    border: solid 1px rgba(231, 207, 99, 0.788);
}

.options-button:hover{
    background-color: rgba(255, 248, 208, 0.788);
}

.text-editor-area {
    border: solid 1px rgba(122, 153, 247, 0.788);
    padding: 20px;
    min-height:300px;
    font-size: 1.4rem;
}

.information-container{
    padding: 10px;
    font-size: 1.5rem;
}

li {
    margin-left: 25px;
    padding: 2px;
}
